.client {
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.client__img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-right: 20px;
    object-fit: cover;
    background-color: var(--white);
    flex-shrink: 0;
}

.client__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.client__name {
    --client_color: var(--gray-400);
    font-weight: 700;
    color: var(--client_color);
    margin-bottom: 10px;
    font-size: 18px;
}

[data-color-mode='dark'] .client__name {
    --client_color: var(--white);
}

.client__quotes {
    --client_color: var(--gray-400);
    font-size: 14px;
    color: var(--client_color);
    line-height: 1.3;
}

[data-color-mode='dark'] .client__quotes {
    --client_color: var(--white);
}

@media (min-width: 550px) {
    .client {
        margin: 10px;
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .client__img {
        border: 5px solid var(--gray-50);
        width: 100px;
        height: 100px;
        z-index: 1;
    }
    .client__info {
        margin-top: 10px;
    }
    .client__quotes {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .client {
        width: 25%;
    }
}