.CountdownTimer {
    background-color: var(--gray-200);
    width: 100%;
    padding: 40px;
    text-align: center;
}

.CountdownTimer__title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 26px;
    color: var(--gray-900);
}

.CountdownTimer__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--gray-900);
}

.CountdownTimer__timer {
    font-size: 26px;
    color: var(--black);
}