.footer {
    margin-top: 30px;
    background-color: var(--gray-50);
    padding: 20px;
}

.footer__info {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--gray-900);
    margin-inline: auto;
    /* background-color: red; */
}

.footer__info--container {
    width: 100%;
    background-color: yellow;
}

.footer__logo {
    width: 50px;
    fill: var(--secondary-400);
    margin-bottom: 10px;
    margin-right: 10px;
}

.footer__info--text {
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer__info--nav {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.github-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.linkedin-icon {
    width: 20px;
    height: 20px;
}

.footer__copyright {
    border-top: 1px solid var(--white);
    padding-top: 30px;
    color: var(--gray-900);
    margin-inline: auto;
    font-size: 14px;
    text-align: center;
}

@media (min-width: 900px) {
    .footer__copyright {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__info {
        flex-direction: row;
        align-items: end;
    }
    .footer__info--text {
        margin-left: -90px;
    }
    .footer__info--nav {
        width: 30%;
        justify-content: flex-end;
    }
}